body {
    background-image: url("./img/ray.jpg");
    background-size: cover;
    text-align: center;
    justify-content: center;


}

#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#live-el{
    width: 100%;
height: auto;
background-color: rgb(215 89 101);
color:white;
}
#divGame{
    background-color: rgb(212 184 37);
    width: auto;
    height: auto;
    margin: 10%;
    border-radius: 10px;
}
h1,
p,
h4 {
    justify-content: center;
    color: white;
    font-size: xx-large;


}

button {
    width: 200px;
    height: 100px;
    background-color:rgb(126 121 133) ;
    border-radius:10px;
    background-color:aliceblue;
    color:rgb(213 88 100);
    font-size: xx-large;

}
#button-container {
    width: auto;
    height: auto;
    height: auto;
    border-radius: 10px;


    background-color:rgb(145 82 57) ;
background-color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: fixed; /* Фіксована позиція */
    bottom: 20px; /* Відступ знизу, можна змінювати за потреби */
    left: 50%;
    transform: translateX(-50%);
}