body {
    background-image: url("./img/ray.jpg");
    background-size: cover;
    text-align: center;
    justify-content: center;


}

#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#live-el{
    width: 100%;
height: auto;
background-color: rgb(215 89 101);
color:white;
}
#divGame{
    background-color: rgb(212 184 37);
    width: auto;
    height: auto;
    margin: 10%;
    border-radius: 10px;
}
#gameNick,#idGamer,#player-el,#Hello-el{
    height: min-content;

    width: max-content;
    border-color: rgb(148, 26, 7);
    background-color:rgb(75 81 91);
    border-radius:  10px;

}
h1,
p,
h4 {
    justify-content: center;
    color: white;
    font-size: xx-large;


}

button {
    color:white;
    width: max-content;
    height: max-content;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;

}
/* #button-container {
    width: auto;
    height: auto;
    height: auto;
    border-radius: 10px;
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px; */


/* 
    display: flex;
    justify-content: center;
